{% extends 'covid/base.html' %}

{%  load static %}

{%  block content %}
    <section class="align-items-center">
        <div class="container-fluid">
            <div class="row" style="margin-top:10px;">
                <div class="card" style="width: 100%;">
                    <h5 class="card-header bg-light">
                        Find your Resource
                    </h5>
                    <div class="card-body">
                        <div id="resource_list_grid" class="ag-theme-balham" style="width: 100%; height: 80vh;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%  endblock %}

{% block script %}
    <script>

    //basic information about each column
    var columnDefs = [
        {
            headerName: "Provider",
            field: "name",
            filter: "agTextColumnFilter",
        },
        {
            headerName: "State",
            field: "state",
        },
        {
            headerName: "City",
            field: "city",
        },
        {
            headerName: "Service",
            field: "service",
        },
        {
            headerName: "Phone",
            field: "phone",
        },
        {
            headerName: "Created",
            field: "last_created",
            filter: "agDateColumnFilter",
        },
        {
            headerName: "Price",
            field: "price",
        },
        {
            headerName: "Delivery",
            field: "delivery",
        },
        {
          headerName: "Verified",
          field: "human_verified",
        },
        {
            headerName: "Details",
            field: "details",
            cellRenderer: function (params) {
                let full_url = "/view_service/" + params.value
                return '<a href=' + full_url +'>View</a>'
            }
        }
    ];

    let rowData = [
        {% for service in services %}
            {name: "{{ service.provider.full_name }}", state: "{{ service.provider.state }}", city: "{{ service.provider.city }}", service: "{{ service.name }}", phone: "{{ service.provider.phone }}", last_created: "{{ service.created }}", price: "{{ service.price }}", delivery: "{{ service.delivery }}", details: "{{ service.id }}", human_verified: "{{ service.humanVerified }}"},
        {% endfor %}
    ];



    var gridOptions = {
        animateRows: true,
        floatingFilter: true,
        defaultColDef: {
            flex: 1,
            filter: true,
            sortable: true,
            resizable: true,
        },
        columnDefs: columnDefs,
        rowData: rowData,
    }

    function sizeGridToFit() {
        gridOptions.api.sizeColumnsToFit();
    }
    window.onresize = sizeGridToFit;

    document.addEventListener('DOMContentLoaded', function() {
        var eGridDiv = document.querySelector('#resource_list_grid');
        new agGrid.Grid(eGridDiv, gridOptions);
        sizeGridToFit();
    })
    </script>
{% endblock %}


